.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    cursor: none;
    transition-duration: 50ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes cursorAnim1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(40);
    }
}

.expand {
    animation: cursorAnim1 .25s forwards;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}