// body {
//   cursor: none;
// }

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
}


@keyframes cursorAnim1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(30);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(30);
  }
  to {
    transform: scale(1);
  }
}

.expand {
  animation: cursorAnim1 0.45s forwards;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.normal {
  animation: cursorAnim2 0.25s forwards;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
