* {
  margin: auto 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fffefa;
}

@font-face {
  font-family: "CoFoSansBeta-Regular";
  src: url("fonts/CoFoSansBeta-Regular.otf");
}

@font-face {
  font-family: "CoFoSansBeta-Medium";
  src: url("fonts/CoFoSansBeta-Medium.otf");
}

@font-face {
  font-family: "CoFoSansBeta-Italic";
  src: url("fonts/CoFoSansBeta-Italic.otf");
}

@font-face {
  font-family: "CoFoSansBeta-Bold";
  src: url("fonts/CoFoSansBeta-Bold.otf");
}

@font-face {
  font-family: "CoFoSansBeta-BoldItalic";
  src: url("fonts/CoFoSansBeta-BoldItalic.otf");
}

@font-face {
  font-family: "Resina-Heavy";
  src: url("fonts/Resina-Heavy.otf");
}

@font-face {
  font-family: "Evangelion";
  src: url("fonts/EVANGELION REGULAR.otf");
}

@font-face {
  font-family: "Tenebras";
  src: url("fonts/tenebras.otf");
}

@font-face {
  font-family: "Bagerich-Display";
  src: url("fonts/Bagerich.otf");
}

.cart {
  float: left;
  padding: 2.5em 5em;
}

.cart a {
  color: #fffefa;
}

.main-nav {
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.35em 3em;
  grid-template-areas:
    "li li"
    "li li"
    "li li";
  padding: 2.5em 5em;
  text-align: right;
}

.main-nav a {
  color: #fffefa;
}

a {
  color: #131313;
}

nav {
  font-family: "CoFoSansBeta-Regular";
}

.logo {
  float: right;
  width: 100%;
}

h2 {
  font-family: "Resina-Heavy";
  font-size: 2em;
  text-align: right;
  padding-right: 2.5em;
  padding-top: 2em;
}

h2 a {
  color: #fffefa;
}

.name {
  grid-area: nm;
  font-family: "CoFoSansBeta-Bold";
}

.fam {
  grid-area: fm;
}

.desc {
  grid-area: ds;
}

.style {
  grid-area: st;
}

.see-more {
  grid-area: sm;
}

main {
  background-color: #ff6666;
}

.type-details {
  width: 75%;
  padding-left: 5em;
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nm fm ds . ."
    "st sm ds . .";
  font-family: "CoFoSansBeta-Regular";
}

.type-details a {
  color: #fffefa;
}

.type-display {
  width: 90%;
  padding-left: 0.125em;
  font-size: 40em;
  overflow: scroll;
  padding-right: 2em;
  font-weight: normal;
}

.bagerich {
  font-family: "Bagerich-Display";
}

.evangelion {
  font-family: "Evangelion";
}

.tenebras {
  font-family: "Tenebras";
  text-transform: uppercase;
}

.legal {
  grid-area: lg;
}

.merch {
  grid-area: mr;
}

.faq {
  grid-area: fq;
}

.contact {
  grid-area: cn;
}

footer {
  background-color: #131313;
  width: 100%;
  border-top: 4px solid #fffefa;
}

.top-bottom-nav {
  width: 75%;
  padding-left: 5em;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "lg mr fq cn .";
  font-family: "CoFoSansBeta-Regular";
}

.top-bottom-nav a {
  color: #fffefa;
}

.mark-alt {
  padding-bottom: 4em;
}

.newsletter-signup-container {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.newsletter-signup {
  padding-right: 5em;
  text-align: right;
  margin: 0;
}

.newsletter-signup input {
  background: #fffefa;
  width: 20em;
  height: 0.99em;
  padding: 1em;
  border-radius: 0px 10px 10px 0px;
  font-family: "CoFoSansBeta-Regular";
  outline-style: none;
  font-size: 0.75em;
  margin: 0;
}

.newsletter-headline {
  color: #fffefa;
  padding-right: 5em;
  font-weight: normal;
}

.newsletter-headline h3 {
  font-family: "CoFoSansBeta-Regular";
  font-size: 3em;
  font-weight: normal;
  /* padding-bottom: .1em; */
}

.newsletter-headline h5 {
  font-family: "CoFoSansBeta-Regular";
  font-weight: normal;
  padding-bottom: 0.5em;
}

.sign-up-btn {
  background-color: #ff6666;
  height: 1em;
  padding: 0.57em;
  border-radius: 10px 0px 0px 10px;
  outline-style: none;
}

.sign-up-btn a {
  font-family: "CoFoSansBeta-Medium";
  color: #fffefa;
  font-size: 0.75em;
  margin: 0;
}

.newsletter-signup-container {
  padding-bottom: 5em;
  display: inline-block;
}

.bottom {
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.35em 3em;
  grid-template-areas:
    "li li"
    "li li"
    "li li";
  padding: 2.5em 5em;
  text-align: left;
  font-family: "CoFoSansBeta-Regular";
}

.overlay-main {
  clip-path: url(".cursor")
  display: block;
  /* visibility: hidden; */
  /* z-index: -1; */
  position: absolute;
  top: 0;
}

.overlay-main-larger:hover{
  clip-path: circle(350px at var(--x) var(--y));
}

.overlay-main-smaller{
    clip-path: circle(75px at var(--x) var(--y));
}

.overlay-main a {
  color: #ff6666;
}

.td-overlay {
    grid-template-areas:
    "nm fm ds . ."
    "st sm . . .";
    color: #ff6666;
}

.typeface-details {
  width: 60%;
  height: 18.99em;
  padding-left: 3em;
  padding-top: 1em;
  font-size: 2em;
  overflow: scroll;
  padding-right: 2em;
  font-weight: normal;
  font-family: "CoFoSansBeta-Regular";
  color: #ff6666;
}



.td-evangelion {
  height: 21em;
  color: #ff6666;
}

.overlay {
  background-color: #fffefa;
}

.overlay-nav {
  opacity: 0%;
}

.home-screen {
  /* z-index: 1; */
}