* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: "Favorit Pro Book";
    src: url("fonts/FavoritPro-Book.otf");
  }

@font-face {
    font-family: "Favorit Pro Light";
    src: url("fonts/FavoritPro-Light.otf");
  }

.background {
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav-title, .nav-menu {
    z-index: 3999;
    color: #131313;
    cursor: pointer;
}

.home {
    width: 80%;
    margin: auto;
}

.tracks {
    display: inline-block;
    margin: auto;
    padding-top: 5em;
}

.track {
    display: inline-block;
}

.track-title {
    width: 100%;
}

.track:nth-child(1){
    margin-left: 5.5em;
}

.nav-title {
    font-family: "Favorit Pro Book";
    font-size: 1.65em;
    padding-top: 2em;
    text-transform: uppercase;
}


/* .track:nth-child(1){
    grid-area: t1;
}

.track:nth-child(2){
    grid-area: t2;
}

.track:nth-child(3){
    grid-area: t3;
}

.track:nth-child(4){
    grid-area: t4;
}

.track:nth-child(5){
    grid-area: t5;
}

.track:nth-child(6){
    grid-area: t6;
}

.track:nth-child(7){
    grid-area: t7;
}

.track:nth-child(8){
    grid-area: t8;
}

.track:nth-child(9){
    grid-area: t9;
}

.track:nth-child(10){
    grid-area: t10;
}

.tracks {
    display: grid;
    padding: 5em 5em;
    grid-template-columns: repeat(6, 10%);
    grid-template-rows: repeat(10, 2em);
    grid-template-areas: 
    ".t1.t2.t3"
    "t4.t5.t6."
    "t7.t8.t9."
    "t10.....";
    width: 100%;
} */

.nav-menu {
    font-family: "Favorit Pro Book";
    text-transform: uppercase;
    font-size: 1.65em;
    padding-top: 2em;
    display: none;
}

.nav-menu:active {
    font-family: "Favorit Pro Book";
    text-transform: uppercase;
    font-size: 1.65em;
    padding-top: 2em;
}

.track-title {
    font-family: "Favorit Pro Book";
    text-transform: uppercase;
}

.track-title {
    font-size: 1.65em;
    line-height: 1.1em;
    letter-spacing: -.5%;
}

.track-length {
    font-family: "Favorit Pro Light";
    font-size: .85em;
}

.divider {
    font-family: "Favorit Pro Light";
    font-size: 1.65em;
}