* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: "Favorit Pro Book";
    src: url("des342\the-party\fonts\FavoritPro-Book.otf");
  }

@font-face {
    font-family: "Favorit Pro Light";
    src: url("des342\the-party\fonts\FavoritPro-Light.otf");
  }

.background {
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
}

.nav-title {
    left: .5em;
}

.nav-title, .nav-menu {
    z-index: 3999;
    position: fixed;
    top: .5em;
    color: #131313;
    cursor: pointer;
}

.tracks {
    display: grid;
    padding: 5em 5em;
    grid-template-columns: repeat(12, 8.333%);
    grid-template-rows: repeat(50, 2em);
    grid-template-areas: 
    "....t1t1t1.t2t2t2t2"
    ".t3t3t3.t4t4t4.t5t5t5"
    ".t6t6t6.t7t7t7.t8t8t8"
    ".t9t9t9.t10t10t10.... 3"
    ;
}

.track-title {
    font-family: "Favorit Pro Book";
    text-transform: uppercase;
}

.show-tracks {
    width: 100vw;
    
}

